In [15]:
#
# http://sebastianraschka.com/Articles/2014_sqlite_in_python_tutorial.html#querying-the-database---selecting-rows
#
import sqlite3

In [16]:
conn = sqlite3.connect('example.db')
c = conn.cursor()

# Create table
c.execute('''CREATE TABLE stocks
             (date text, trans text, symbol text, qty real, price real)''')

# Insert a row of data
c.execute("INSERT INTO stocks VALUES ('2006-01-05','BUY','RHAT',100,35.14)")

# Save (commit) the changes
conn.commit()

# We can also close the connection if we are done with it.
# Just be sure any changes have been committed or they will be lost.
conn.close()

OperationalError: table stocks already exists

In [17]:
conn = sqlite3.connect('example.db')
c = conn.cursor()

c.execute('''SELECT * FROM stocks''')

all_rows = c.fetchall()
print('1):', all_rows)

conn.close()

1): [('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)]